<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word count results</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <h2>Count:</h2>
    <p>Your word occured @Model.GetOutput() in the input phrase.</p>
  </body>
</html>
